<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <queries>
        <package android:name="com.sec.android.app.launcher" />
        <package android:name="com.samsung.android.themedesigner" />
        <package android:name="com.samsung.android.keyscafe" />
        <package android:name="com.samsung.android.goodlock" />
        <package android:name="com.samsung.systemui.lockstar" />
        <package android:name="com.samsung.android.app.clockface" />
        <package android:name="com.ticktick.task" />
        <intent><action android:name="org.adw.launcher.THEMES" /></intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Marathon Fold 8 Complete"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SetupActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
                <action android:name="com.novalauncher.THEME" />
                <action android:name="com.anddoes.launcher.THEME" />
                <action android:name="com.teslacoilsw.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MarathonWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <service
            android:name=".MarathonAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false"
            android:label="Marathon Auto Setup">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
